
   /*Menú hamburguesa*/
   *{
       font-family: "Times New Roman", Times, serif;
   }
   ul.menu{
       display: none;
   }
    input[id="menu"]:checked  ~ ul.menu{
        display:block;
    }
    input[id="menu"]{
        display: none;
    }
    ul.menu li {
        display: block;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }
    /*General*/
    .contact label{
        display: block;
    }
    h1{
        font-family: 'Big Shoulders Stencil Text', cursive, arial;
    }
    h2{
        font-family: 'Big Shoulders Stencil Text', cursive, arial;
    }
    span{
        font-weight: bold;
        padding-right: .5%;
    }
    ul.menu a:link {
        text-decoration: none;
    }
    ul.menu a:visited {
        text-decoration: none;
    }

    ul.menu a:hover {
        text-decoration: underline;
    }

    ul.menu a:active {
        text-decoration: underline;
    }
    .mesenger{
        font-size: small;
    }
    footer{
        font-size: .8em;
    }
    /*Buscador general*/
    [role="search"]{
        display: none;
    }
    /*Pie*/
    [role="contentinfo"]{
        display: none;
    }
    /*Rastro de migas*/
    nav[aria-label]{
        display: none;
    }

@media only screen and (min-width: 768px) 
{
    /*Rastro de migas*/
    nav[aria-label]{
        display:inherit;
    }
    /*Menú hamburguesa*/
    input[id="menu"]{
        display: none;
    }
    label[for="menu"]{
        display: none;
    }
    ul.menu{
        display: block;
        float: right;
        margin-right: 1%;  
    }
    ul.menu li{
        display: inline;
        background:white;
        border-bottom:1px solid White;
        
    }
    ul.menu a{
        text-decoration:none;
    }

    ul.menu a[aria-label]{
        border-top:1px solid grey; 
        border-bottom:1px solid grey;
    }
    /*Buscador general*/
    [role="search"]{
        display: block;
    }
    /*Pie*/
    [role="contentinfo"]{
        display: block;
    }
    /*General*/
    body{
        margin-right: 10%;
        margin-left: 10%;
    }
    img{
        width: 10%;   
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
        header div{
        float: right;
        margin-right: 1%;
        margin-top: 1%;
        
    }
    main{
        margin-right: 10%;
        margin-left: 10%;
    }

    ul.rastromiga li{
        display: inline;
    }
    ul.rastromiga li+li::before {
        content: "/\00a0";
    }
    p{
        margin-right: 5%;
        margin-left: 5%;
    }

    .flexContaniner{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .contact label{
        display: block;
        padding: 1%;
    }
    

    .contact{
        background-color: lightgray;
        padding: 2%;
    }
    
    footer li {
        display: inline;
    }
    .footerFlex{
        display: flex;
        justify-content: space-between;
    }

 
}